{% extends "layout.html" %}
{% block body %}
  
  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url({{url_for('static',filename='images/bg_2.jpg')}});" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About The Organization</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our Work</h1></div>
        <div class="col-md-6">
            <p class="lead">Sankalap Ek Sewa Foundation is a devoted animal welfare NGO based in Meerut, India, committed to rescuing and rehabilitating injured, abandoned, and critically ill animals—including cows, bulls, monkeys, dogs, and more. Since its inception just a year ago, our foundation has already rescued hundreds of voiceless lives, offering them advanced medical care and helping them return safely to their natural or familiar environments.</p>
            <p>Founded by lifelong animal advocates Mrs. Neetu Singh and Mr. Ajit Singh, our organization blends empathy with action. From providing emergency aid in cases like acid attacks, road and railway accidents, cancer, and tumors, to routine efforts such as sterilization and vaccination, our team works tirelessly every day to protect animals who cannot speak for themselves.
            </p>
          </div>
          <div class="col-md-6">
            <p>Our veterinary doctors and para-vet team are available round the clock, responding to urgent rescues and ensuring timely treatment. We also collaborate with trusted gaushalas to provide safe and healing spaces for rescued cattle in need of long-term recovery.</p>
            <p>At Sankalap Ek Sewa Foundation, we believe that every life deserves dignity, care, and a chance to heal. Through unwavering commitment, we’re transforming how animal rescue and treatment is delivered—and inspiring communities to treat their fellow beings with compassion.</p>
            <p>Sankalap Ek Sewa Foundation’s skilled team works daily in the field to provide emergency medical care to abandoned animals, with our doctors and para-vets always ready to respond in critical moments. From rescuing hundreds of voiceless beings and restoring their health, to ensuring safe relocation after recovery, our one-year journey has been defined by relentless service, compassion, and a deep belief that no life should be left behind.</p>
          </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Leadership</h2>
        </div>
      
        <div class="col-md-6 col-lg-6">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{{url_for('static',filename='images/person_1.jpg')}}" alt="Image placeholder">
                <h3 class="block-38-heading">Neetu Thakur</h3>
                <p class="block-38-subheading">Director</p>
              </div>
              <div class="block-38-body">
                <p>I envision a world where no voiceless animal suffers needlessly. If any paw or animal is injured or in distress, our foundation ensures it receives immediate and proper care.</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-md-6 col-lg-6">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{{url_for('static',filename='images/person_2.jpg')}}" alt="Image placeholder">
                <h3 class="block-38-heading">Ajeet Singh</h3>
                <p class="block-38-subheading">Director</p>
              </div>
              <div class="block-38-body">
                <p>As a director and founder, I hold a daily hope—that every voiceless animal has a full stomach, a spacious shelter to call home, and a life free from harm or accidents.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="block-31 mb-5" style="position: relative;">
          <div class="owl-carousel loop-block-31">
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_1.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_2.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_3.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_4.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_5.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_6.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_7.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_8.jpg')}});"></div>
            <div class="block-30 no-overlay item" style="background-image: url({{url_for('static',filename='images/bg_9.jpg')}});"></div>
          </div>
        </div>
    </div>
  </div>

  <!-- <div class="site-section border-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-bulb"></span></div>
            <div class="media-body">
              <h3 class="heading">Our Mission</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>     
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-cash"></span></div>
            <div class="media-body">
              <h3 class="heading">Make Donations</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>  
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-contacts"></span></div>
            <div class="media-body">
              <h3 class="heading">We Need Volunteers</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div> -->
  {% endblock %}