{% extends "layout.html" %}
{% block body %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="text-center mb-4">All Success Stories</h2>
        <div class="row">
          <div class="col-md-6 mb-4">
            <h3>Story 1: Lucky’s Recovery</h3>
            <p>Lorem ipsum dolor sit amet...</p>
            <p><a href="/success/1" class="btn btn-primary py-2 px-4">Read More</a></p>
          </div>
          <div class="col-md-6 mb-4">
            <h3>Story 2: Gauri’s Rescue</h3>
            <p>Ut enim ad minim veniam...</p>
            <p><a href="/success/2" class="btn btn-primary py-2 px-4">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}